*{
    margin: 0px;
}    
body{
    margin: 8px;
    background-color: rgb(68, 252, 252);
}

nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    overflow: hidden;
}

nav ul li{
    padding: 0.5% 1% 0.3% 1%;
    background-color:rgb(95, 244, 95);
       
}


nav ul li a{
    text-decoration: none;
}

nav ul li:hover{
    cursor: pointer;
    background-color: rgb(141, 225, 197);
}

#con{
   padding-top: 40px;
   padding-bottom: 40px;
    margin: 50px;
    text-align: center;
    border: 1px black solid;
}